/TestDemo/nbproject/private/
/TestDemo/build/
/TestDemo2/nbproject/private/
/sir/Jsf01/nbproject/private/
/TestDemo2/build/
/printDatajsf/nbproject/private/
/printDatajsf/build/
/jsfFirstExamLogin/nbproject/private/
/DisplayData/nbproject/private/
/DisplayData/build/
/jsfJavaBean/nbproject/private/
/jsfJavaBean/build/
/sir/jsf02/nbproject/private/
/sir/jsf02/build/
/jsfExam02/nbproject/private/
/jsfExam02/build/
/jsfExam02/dist/
/sir/jsf03/nbproject/private/
/sir/jsf03/build/
/sir/jsf04/nbproject/private/
/sir/jsf04/build/
/sir/jsf05/nbproject/private/
/sir/jsf05/build/
/sir/chapter7/nbproject/private/
/sir/chapter7/build/
/sir/chapter7g/nbproject/private/
/sir/chapter7g/build/