/TestDemo/nbproject/private/
/TestDemo/build/
/jsfS1/nbproject/private/
/TestDemo3/nbproject/private/
/TestDemo3/build/
/Demo1/nbproject/private/
/jsfDemo/nbproject/private/
/jsfDemo/build/
/jsfDemo/dist/
/jsfDemo4/nbproject/private/